<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>jpa2 회원등록</h1>
	<div class="container">
		<form action="/members/save" method="post">
			id : <input type="text" id="id" name="id" required="required">
			회원이름 : <input type="text" name="name" placeholder="회원이름을 입력하세요">
			팀 이름 : <input type="text" name="teamname" placeholder="팀이름을 입력하세요">
			<button type="submit">등록</button>
		</form>
	</div>
</body>
</html>